.span-color {
  color: rgb(97, 83, 223);
  font-style: italic;
}

.span-color:hover {
  text-decoration: underline;
}

.dash-container {
  min-height: 80vh;
}
.title {
  font-size: 50px;
  font-family: 'Poetsen One', sans-serif;
  font-weight: 400;
  font-style: normal;

  font-weight: bold;
}
